name: run-fspam
on: [workflow_dispatch]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - run: pip install aiohttp cryptography uvloop
      - run: lscpu
      - run: RUSTFLAGS="-C target-cpu=native"
      - run: python -u fspam.py & cargo run --release
